html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top: 15px;
	color: #fff;
	background: -webkit-linear-gradient(#7B1FA2, #E1BEE7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7B1FA2, #E1BEE7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7B1FA2, #E1BEE7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7B1FA2, #E1BEE7); /* Standard syntax (must be last) */
}

.guess-number {
	margin-bottom: 50px;
}

.instruction {
	margin: 20px 0px;
	font-family: "Helvetica", serif;
	text-decoration: underline;
}

.instruction-text {
	margin-top: 15px;
	font-family: "Helvetica", serif;
}

.random {
	text-decoration: line-through;
}

#input {
	margin-bottom: 20px;
	outline: none;
	background-color: #7B1FA2;
	width: 200px;
	height: 150px;
	padding: 30px;
	color: white;
	font-size: 56px;
	font-family: "Helvetica", serif;
	text-align: center;
}

.guesses {
	margin-top: 10px;
	background-color: #FDD835;
	opacity: 0.5;
	border: 3px solid #fff;
	display: inline-block;
	padding: 2px 15px 15px 15px;
	border-radius: 5px;
}

#lastNumbers {
	color: #000;
}

#showInput {
	display: inline;
	padding: 0px 30px;
	color: #000;
}

#message {
	font-family: "Helvetica", sans-serif;
	font-size: 28px;
	margin-top: 15px;
	margin-bottom: 5px;
	color: #fff;
}

#show {
	font-size: 22px;
}

#secretNumber {
	font-size: 26px;
	color: green;
}

#countDownTimer {
	color: #B2FF59;
}