html, body{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
	text-align: center;
	margin-top: 30px;
	/* background-color: #607D8B; */
	color: #fff;
	content: '';
	display: block;
	background-image: linear-gradient(90deg, rgba(255,255,255,.25) 1px, rgba(0,0,0,0) 1px), linear-gradient(0deg, rgba(255,255,255,.25) 1px, rgba(0,0,0,0) 1px);
	background-position: 0px 1px;
	background-repeat: repeat;
	background-size: 40px 40px;
	background: -webkit-linear-gradient(#607D8B, #37474F); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#607D8B, #37474F); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#607D8B, #37474F); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#607D8B, #37474F); /* Standard syntax (must be last) */
}
}

.guess-number {
	margin-bottom: 50px;
}

.instruction {
	margin-top: 10px;
	font-family: "Helvetica", serif;
	line-height: 26px;
}

.random {
	text-decoration: line-through;
}

#input {
	margin-bottom: 20px;
	outline: none;
	background-color: #546E7A;
	width: 150px;
	height: 100px;
	padding: 30px;
	color: white;
	font-size: 56px;
	font-family: "Helvetica", serif;
	text-align: center;
}

.guesses {
	margin-top: 30px;
	background-color: #981423;
	opacity: 0.5;
	border: 1px solid #fff;
	display: inline-block;
	padding: 2px 15px 15px 15px;
	border-radius: 5px;
}

#showInput {
	display: inline;
	padding: 0px 15px;
	font-size: 18px;
}

#message {
	font-family: "Helvetica", sans-serif;
	font-size: 28px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: #fff;
}

#show {
	font-size: 22px;
}

#secretNumber {
	font-size: 26px;
	color: green;
}

#countDownTimer {
	color: red;
}